/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Sets the font of the entire page, customizes background & ensures form is responsive */
html, body {
  font-family: montserrat, arial, verdana;
  background: #C1E7E3;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Ensures form is responsive */
.wholecon {
  display: flex;
  top: 3%;
}

/* Customizes the form */
#register {
  /* Customizes the size of the form */
  width: 650px;
  /* Customizes the position of the form to be centered */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Ensures title and button are centered */
	text-align: center;
}

/* Customizes the form further */
#register fieldset {
  background: #FFFFFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 85%;
}

/* Customizes "Create Your Account" header on top of the page */
.header {
  font-size: 18px;
  text-transform: uppercase;
	color: #2C3E50;
	margin: 25px auto;
  font-weight: bolder;
}

/* Customizes password manager info message on top of registration form */
#topinfo {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(199, 228, 240, 1);
  border-color: rgba(173, 200, 212, 1);
  color: rgba(69, 96, 106,1);
}

/* Customizes position of the text inside password manager info message */
#topinfo p {
  margin-top: -17px;
  margin-left: 15px;
  margin-bottom: 3px;
}

/* Ensures labels are positioned / formatted correctly*/
.container {
  width: 100%;
}

/* Customizes position & font size of labels*/
label{
  float: left;
  margin-bottom: 5px;
  font-size: small;
}

/* Customizes the input boxes */
#register input[type=text], input[type=password] {
  font-size: 16px;
  color: #2C3E50;
  border: 1px solid #CCCCCC;
	border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 15px;
	margin-bottom: 35px;
}

#usedrandom, #triedrandom {
  display: none;
}

/* Faded random password in password & confirm password fields */
.temporary, .temporary2 {
  background-image: linear-gradient(90deg, #666546 50%, rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 15px;
  font-size: 16px;
  /* font-family: 'Menlo', sans-serif; */
  font-family: Arial;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  cursor: default;
}

/* Customizes the font of placeholder */
input::placeholder {
  font-family: arial;
}

/* Ensures everything is positioned correctly */
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

/* Customizes "strong password" label */
.stronglabel, .stronglabel2, .stronglabel3, .stronglabel4 {
  background-image: linear-gradient(180deg, #000000 74%, rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 33px;
  margin-right: 16px;
  font-size: 16px;
  opacity: 0.8;
  /* font-family: -apple-system; */
  font-family: Arial;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  cursor: default;
}

/* Modifies position and visbility of message box (password & confirm password fields) */
.message, .message2 {
  display: none;
  width: 323px;
  height: 155px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -25px;
  margin-right: -335px;
  box-sizing: border-box;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
  padding: 30px 20px 20px 30px;
  border: 1px solid #CACBCC;
  border-radius:10px;
  background: #FFFFFF;
}

/* Modifies position and visbility of message box's arrow pointer to password and confirm password fields */
.message:before, .message2:before {
  content: ' ';
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 62px;
  margin-right: 311px;
  transform: rotate(45deg);
  border-left: 1px solid #CACBCC;
  border-bottom: 1px solid #CACBCC;
}

/* Modifies position and specs of message box's thematic line (password and confirm password fields) */
.message hr, .message2 hr {
  top: 5px;
  left: -30px;
  width: 322px;
  opacity: 40%;
}

/* Modifies position of message box's key (password and confirm password fields) */
.messagekey, .messagekey2 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7px;
  margin-left: 7px;
  image-rendering: pixelated;
}

/* Modifies position of message box's title (password and confirm password fields) */
.message h4, .message2 h4 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 6px;
  margin-left: 40px;
  /* padding-right: 50px; */
  padding-right: 15px;
  font-size: 13px;
  text-align: left;
  color: #404040;
  /* font-family: -apple-system; */
  font-family: Arial;
  font-weight: 400;
}

/* Modifies position of message box's content (password and confirm password fields) */
.message h2, .message2 h2 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 48px;
  margin-left: 16px;
  /* padding-right: 20px; */
  padding-right: 11px;
  text-align: left;
  line-height: 1.4;
  font-size: 12px;
  color: #707070;
  /* font-family: -apple-system; */
  font-family: Arial;
  font-weight: 400;
}

/* Modifies position of message box's button (password and confirm password fields) */
.message #dontuse, .message2 #dontuse2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 70px;
  margin-bottom: 10px;
  /* top/bottom, right/left */
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 13px;
  /* font-family: -apple-system; */
  font-family: Arial;
  font-weight: 400;
  color: #4C8BF5;
  background: #FFFFFF;
  border: solid 1px #DBDAD7;
}

.message #dontuse:hover, .message2 #dontuse2:hover {
  background: #E8F0FE;
}

/* Modifies position of message box's button (password and confirm password fields) */
.message #usestrong, .message2 #usestrong2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 180px;
  margin-bottom: 10px;
  /* top/bottom, right/left */
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 13px;
  /* font-family: -apple-system; */
  font-family: Arial;
  font-weight: 400;
  color: #FFFFFF;
  background: #4C8BF5;
  border: none;
}

/* Modifies position of mini message (password and confirm password fields) */
.minimessage, .minimessage2 {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  margin-top: 77px;
  /* margin-left: -8px; */
  z-index:1;
  width: 59%;
  height: 60px;
  border-radius: 7px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

/* Modifies position of both buttons inside mini message */
.mini-container, .mini-container2 {
  margin-top: 8px;
  padding-left: 6px;
}

#fromweb, #fromweb2 {
  display: block;
  font-size: 13px;
  width: 97.1%;
  padding: 5px 8px;
  background-color: #FFFFFF;
  text-align: left;
  /* font-family: -apple-system; */
  font-family: Arial;
	color: #383838;
  border: none;
  border-radius: 4px;
}

.customdesc, .customdesc2 {
  color: #383838;
  /* font-family: -apple-system; */
  font-family: Arial;
  font-size: 13px;
  position: fixed;
  margin-top: -45px;
  margin-left: 30px;
}

.fromdesc, .fromdesc2 {
  color: #707070;
  /* font-family: -apple-system; */
  font-family: Arial;
  font-size: 11px;
  position: fixed;
  margin-top: -25px;
  margin-left: 30px;
}

/* Customizes position of bottom error message */
.bottomerror {
  position: absolute;
  visibility: hidden;
  font-size: 14px;
  text-align: left;
  margin-top: -30px;
}

/* Customizes appearance of input fields when bottom error message appears */
#register .container.error input {
  border-color: rgba(220, 53, 69, 1);
}

#register .container.neutral input {
  border-color: none;
}

/* Customizes appearance of input fields when bottom error message disappers */
#register .container.success input {
  border-color: #00C234;
}

/* Customizes appearance of text displayed in bottom error message */
#register .container.error small {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes specs of the Register button */
#register .Register {
  padding: 10px;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000;
	background: #ddd;
	border: none;
	border-radius: 20px;
  cursor: pointer;
}

/* When mouse hovers over Register button, it will lighten */
#register .Register:hover {
  background-color: #555;
  color: white;
}

/* Prevents autofill (targeting Safari) */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

/* Title of pop up message after submission */
.swal-title {
  font-size: 25px;
}

/* Text content of pop up message after submission */
.swal-text, .swal-content {
  display: block;
  text-align: center;
  color: #61534E;
  font-size: 20px;
  margin: 15px;
}
