/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Sets the font of the entire page, customizes background & ensures form is responsive */
html, body {
  font-family: montserrat, arial, verdana;
  background: #C1E7E3;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Ensures form is responsive */
body {
  display: flex;
}

/* Customizes the form */
#register {
  /* Customizes the size of the form */
  width: 650px;
  /* Customizes the position of the form to be centered */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Ensures title and button are centered */
	text-align: center;
}

/* Customizes the form further */
#register fieldset {
  background: #FFFFFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 85%;
}

/* Customizes "Create Your Account" header on top of the page */
.header {
  font-size: 18px;
  text-transform: uppercase;
	color: #2C3E50;
	margin: 25px auto;
  font-weight: bolder;
}

/* Customizes password manager info message on top of registration form */
#topinfo {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(199, 228, 240, 1);
  border-color: rgba(173, 200, 212, 1);
  color: rgba(69, 96, 106,1);
}

/* Customizes position of the text inside password manager info message */
#topinfo p {
  margin-top: -17px;
  margin-left: 15px;
  margin-bottom: 3px;
}

/* Ensures labels are positioned / formatted correctly*/
.container {
  width: 100%;
}

/* Customizes position & font size of labels*/
label{
  float: left;
  margin-bottom: 5px;
  font-size: small;
}

/* Customizes the input boxes */
#register input[type=text], input[type=password] {
  font-size: 16px;
  color: #2C3E50;
  border: 1px solid #CCCCCC;
	border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 15px;
	margin-bottom: 35px;
}

#usedrandom, #triedrandom {
  display: none;
}

/* Faded random password in password & confirm password fields */
.temporary, .temporary2 {
  background-image: linear-gradient(90deg, #666546 50%, rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 15px;
  font-size: 16px;
  /* font-family: 'Menlo', sans-serif; */
  font-family: Arial;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  cursor: default;
}

/* Customizes the font of placeholder */
input::placeholder {
  font-family: arial;
}

/* Ensures everything is positioned correctly */
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

.infomark, .infomark2 {
  background-image: linear-gradient(180deg, #000000 74%, rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-left: 65px;
  font-size: 16px;
  opacity: 0.8;
  /* font-family: -apple-system; */
  font-family: Arial;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  cursor: default;
}

.infomark2 {
  margin-left: 122px;
}

/* Customizes "strong password" label */
.stronglabel, .stronglabel2 {
  background-image: linear-gradient(180deg, #000000 74%, rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 33px;
  margin-right: 16px;
  font-size: 16px;
  opacity: 0.8;
  /* font-family: -apple-system; */
  font-family: Arial;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  cursor: default;
}

.errorlabel, .errorlabel2 {
  background-image: linear-gradient(180deg, #000000 74%, rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 33px;
  margin-right: 16px;
  font-size: 16px;
  opacity: 0.8;
  /* font-family: -apple-system; */
  font-family: Arial;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  cursor: default;
}

/* Customizes position of bottom error message */
.bottomerror {
  position: absolute;
  visibility: hidden;
  font-size: 14px;
  text-align: left;
  margin-top: -30px;
}

/* Customizes appearance of input fields when bottom error message appears */
#register .container.error input {
  border-color: rgba(220, 53, 69, 1);
}

#register .container.neutral input {
  border-color: none;
}

/* Customizes appearance of input fields when bottom error message disappers */
#register .container.success input {
  border-color: #00C234;
}

/* Customizes appearance of text displayed in bottom error message */
#register .container.error small {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes specs of the Register button */
#register .Register {
  padding: 10px;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000;
	background: #ddd;
	border: none;
	border-radius: 20px;
  cursor: pointer;
}

/* When mouse hovers over Register button, it will lighten */
#register .Register:hover {
  background-color: #555;
  color: white;
}

/* Prevents autofill (targeting Safari) */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

/* Text content of pop up message after submission */
.swal-text{
  text-align: center;
  color: #61534E;
  font-size: 14px;
}

/* Title of pop up message after submission */
.swal-title {
  font-size: 20px;
}
